{% extends "base.html" %}

{% block content %}

<div style="text-align: center; padding: 20px; background-image: url('static/online-Looking-out-to-sea.png'); background-size: cover; background-position: center 15%; color: #0d1846; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; margin-top: -20px; min-height: 140px;">
    <h1>Your Hub for Direct Retention</h1>
</div>

<div style="display: flex; justify-content: center; padding: 20px;">
    <div style="width: 50vw;" id="form-container">
        <form id="user-form" style="margin-top: 10px; margin-bottom: 10px;">
            <input type="text" id="registration-number" name="registration-number" placeholder="Search for a Registration Number" class="input-field" style="font-size: 0.8em;">
        </form>
    </div>
</div>

<div style="display: flex; justify-content: center; padding: 10px;">

    <div id="grey-box" style="background-image: url('{{ url_for('static', filename='ai.png') }}'); background-size: 50px; background-position: right 10px top 10px; background-repeat: no-repeat; padding: 10px; display: none; flex-direction: column; justify-content: flex-start; border-radius: 10px; border: 2px solid #f1efeb; min-width: 30vw; margin-right: 10px; min-height: 275px; overflow: auto;">
        <h3 style="margin-top: 35px;">Know Your Customer</h3>
        <p>Registration Number: <span id="registration_number_display" style="font-weight: bold;"></span></p>
        <p>Renewal Date: <span id="renewal_display" style="font-weight: bold;"></span></p>
        <p>Payment Frequency: <span id="payment_frequency_display" style="font-weight: bold;"></span></p>
        <p>Total Annual Subs: <span id="total_annual_subs_display" style="font-weight: bold;"></span></p>
        <p>Months In Arrears: <span id="arrears_display" style="font-weight: bold;"></span></p>
        <p>Financial Distress: <span id="financial_distress_display" style="font-weight: bold;"></span></p>
        <p>Months Free Last Year: <span id="mf_last_year_display" style="font-weight: bold;"></span></p>
        <p>Months Free This Year: <span id="mf_this_year_display" style="font-weight: bold;"></span></p>
        <p>Colour Segment: <span id="segment_display" style="font-weight: bold;"></span></p>
        <p>Claims Paid: <span id="claims_paid_display" style="font-weight: bold;"></span></p>
        <p>Offer: <span id="annual-subs-display" style="font-weight: bold;"></span></p>
        <p>Value: <span id="value" style="font-weight: bold;"></span></p>
        <p>Total Payable: <span id="total_payable" style="font-weight: bold;"></span></p>
    </div>

    <div id="track-outcomes-box" style="background-image: url('{{ url_for('static', filename='bupa_track.png') }}'); background-size: 50px; background-position: right 10px top 10px; background-repeat: no-repeat; background-color: white; padding: 10px; display: none; flex-direction: column; justify-content: flex-start; border-radius: 10px; border: 2px solid #0d1846; min-width: 30vw; min-height: 275px;">
        <h3 style="margin-top: 35px;">Outcome</h3>
        <form id="outcomes-form" style="display: grid; gap: 10px;">
            <select id="offer" name="offer" class="input-field" style="font-size: 0.8em;" required>
                <option value="" disabled selected hidden>Offer Proposed</option>
                <option value="1 Month Free">1 Month Free</option>
            </select>
            <select id="offer-accepted" name="offer-accepted" class="input-field" style="font-size: 0.8em;" required>
                <option value="" disabled selected hidden>Outcome</option>
                <option value="Not Eligible for Offer">Not Eligible for Offer</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Maybe">Maybe</option>
                <option value="Yes - With STM Override">Yes - With STM Override</option>
                <option value="Maybe - With STM Override">Maybe - With STM Override</option>
            </select>
        </form>
    </div>
</div>

<div style="display: flex; justify-content: space-between; padding: 10px;">
    <button id="submit-button" type="button" onclick="submitForm()" style="display: none; margin-left: auto;">Submit</button>
    <button id="calculate-button" onclick="calculateOffer()" style="margin-left: auto;">Calculate</button>
</div>

<script>
    const formInputs = document.querySelectorAll('.input-field');
    const annualSubsDisplay = document.getElementById('annual-subs-display');
    const greyBox = document.getElementById('grey-box');
    const trackOutcomesBox = document.getElementById('track-outcomes-box');
    const formContainer = document.getElementById('form-container');
    const submitButton = document.getElementById('submit-button');
    const calculateButton = document.getElementById('calculate-button');

    function submitForm() {
        const formDataUser = {};
        const formDataOutcomes = {};
        formInputs.forEach(input => {
            if (input.form.id === 'user-form') {
                formDataUser[input.name] = input.value.trim();
            } else if (input.form.id === 'outcomes-form') {
                formDataOutcomes[input.name] = input.value.trim();
            }
        });

        const formData = {
            user_data: formDataUser,
            outcomes_data: formDataOutcomes,
            url: window.location.href // Add the current URL to the formData
        };

        fetch('/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                alert(data.message);
                location.reload();
            } else if (data.error) {
                alert('Error: ' + data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }

function calculateOffer() {
    const formData = {}; // Initialize formData object
    formInputs.forEach(input => {
        formData[input.name] = input.value.trim();
    });
    formData.url = window.location.href; // Get the current URL

    // Hide the calculate button immediately
    calculateButton.style.display = 'none';

    fetch('/calculate_offer', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    })
    .then(response => {
        if (response.status === 404) {
            alert("Error: Customer not found.");
            location.reload();
        }

        if (response.status === 400) {
            alert("Error: Unable to calculate offer.");
            location.reload();
        }

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // Check if there's an error message in the response
        if (data.error) {
            throw new Error(data.error); // Throw an error with the specific message
        }

        // Update UI with successful data
        annualSubsDisplay.textContent = data.result;
        document.getElementById('registration_number_display').textContent = data.registration_number_display;
        document.getElementById('renewal_display').textContent = data.renewal_display;
        document.getElementById('payment_frequency_display').textContent = data.payment_frequency_display;
        document.getElementById('total_annual_subs_display').textContent = data.total_annual_subs_display;
        document.getElementById('arrears_display').textContent = data.arrears_display;
        document.getElementById('financial_distress_display').textContent = data.financial_distress_display;
        document.getElementById('mf_last_year_display').textContent = data.mf_last_year_display;
        document.getElementById('mf_this_year_display').textContent = data.mf_this_year_display;
        document.getElementById('segment_display').textContent = data.segment_display;
        document.getElementById('claims_paid_display').textContent = data.claims_paid_display;
        document.getElementById('total_payable').textContent = data.total_payable;
        document.getElementById('value').textContent = data.value;

        // Set the border color based on eligibility
        greyBox.style.borderColor = data.eligible === 1 ? 'green' : 'red';

        // Show the grey boxes and hide the form container
        greyBox.style.display = 'flex';
        trackOutcomesBox.style.display = 'flex';
        formContainer.style.display = 'none';

        // Show the Submit button
        submitButton.style.display = 'inline-block';
    })
}

    function validateForm() {
        const registrationNumber = document.getElementById('registration-number').value;
        if (registrationNumber === "") {
            alert("Please make sure Registration Number is valid.");
            return;
        }
        submitForm();
    }

    function clearForm() {
        location.reload();  // Refresh the page to clear the form
    }

    window.onload = function() {
        const userFormHeight = formContainer.offsetHeight;
        greyBox.style.height = `${userFormHeight}px`;
        trackOutcomesBox.style.height = `${userFormHeight}px`;
    };

</script>

<style>
    /* Import Montserrat font from Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    /* Apply Montserrat font to input fields and select dropdowns */
    .input-field {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        font-size: 0.8em;
        color: #777;
        font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
        border: none; /* Remove the border */
        border-bottom: 1px solid #777; /* Add bottom border */
    }

    select.input-field {
        width: 100%;
        height: 40px;
        font-size: 0.8em;
        color: #777;
        font-family: 'Montserrat', sans-serif; /* Apply Montserrat
        border: none; /* Remove the border */
        border-bottom: 1px solid #777; /* Add bottom border */
    }

    select.input-field {
        width: 100%;
        height: 40px;
        font-size: 0.8em;
        color: #777;
        font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
        border: none; /* Remove the border */
        border-bottom: 1px solid #777; /* Add bottom border */
    }

    .input-field:not(:last-child) {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #0d1846;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8em;
        font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
    }
</style>

{% endblock %}